.idea/
vendor/bin
vendor/doctrine
vendor/myclabs
/vendor/nikic/
/vendor/ockcyp/
/vendor/phar-io/
/vendor/php-parallel-lint/
/vendor/phpunit/
/vendor/psr/
/vendor/sebastian/
/vendor/squizlabs/
/vendor/symfony/
/vendor/theseer/
wp-content/
/vendor/composer/installers
/vendor/composer/semver/
/vendor/composer/spdx-licenses/
/vendor/composer/InstalledVersions.php
/vendor/composer/LICENSE
/vendor/composer/platform_check.php
composer.lock
